In [1]:
import os
import textgrids #import textgrids
import pandas as pd
import numpy as np
import shutil

In [2]:
tg_dir = "/Users/masato/Box/cloze_experiments/filter/data_pilot/tg_corrected"

In [3]:
filenames = [os.path.splitext(fn)[0] for fn in os.listdir(tg_dir) if ".TextGrid" in fn]
item_id = [f.split("_")[1] for f in filenames]
item_num = [i[:-1] for i in item_id]
item_con = [i[-1] for i in item_id]
subject_id = [f.split("_")[2] for f in filenames]

In [4]:
rt = []
response = []
notes = []
for tg_loc in [f for f in os.listdir(tg_dir) if ".TextGrid" in f]:
    tg = textgrids.TextGrid(os.path.join(tg_dir, tg_loc))
    rt.append(tg["words"][1].xmin)
    response.append(tg["words"][1].text)
    notes.append(tg["notes"][0].text)

In [5]:
d = pd.DataFrame({"filenames": filenames, "item_id": item_id, "item_num":item_num, "item_con":item_con, "subject_id": subject_id, "response":response, "rt":rt, "notes":notes})

In [6]:
d

,filenames,item_id,item_num,item_con,subject_id,response,rt,notes
0,exp_10a_lbjl,10a,10,a,lbjl,caught,0.888284,
1,exp_10a_nyca,10a,10,a,nyca,killed,1.560463,
2,exp_10b_qulh,10b,10,b,qulh,NOT_RECOGNIZED,0.100000,
3,exp_10b_ratq,10b,10,b,ratq,run,2.393000,form
4,exp_11a_qulh,11a,11,a,qulh,NOT_RECOGNIZED,1.483000,
...,...,...,...,...,...,...,...,...
235,exp_8b_ratq,8b,8,b,ratq,ordered,1.723310,
236,exp_9a_qulh,9a,9,a,qulh,seduced,1.382000,
237,exp_9a_ratq,9a,9,a,ratq,seduced,1.251000,
238,exp_9b_lbjl,9b,9,b,lbjl,bedded,1.286741,
239,exp_9b_nyca,9b,9,b,nyca,loved,1.662000,

In [7]:
d.to_csv("/Users/masato/Box/cloze_experiments/filter/data_pilot/result_pilot.csv", index = False)